.one {
    background-color:  black;
    height: 100%;
    width:100%;
    position: relative ;

}
body {
    background: black;
}
 .b1,
 .b2{
    color:white;
    font-weight: bold;
    text-align: center;
    background-color:  #990000;
    font-size: 25px ;
    outline: none ;
    border: 2px solid #990000 ;
    padding: 15px;
    border-radius: 15px;
}

.b1
{   top:0;
    right:0;
   
    position:absolute ;
}
.b2{
    margin: 50px 30px  ;
}
.in1 {
    color:blueviolet;
   
     word-spacing: 30px ;
     font-weight:  bold;
     display: inline-block;
     margin-left:300px;
   
}
.s1{color:red;}


.img1{
    width:80px;
    height:80px ;
   position: absolute ;
   top:50;
    left:0;
   border-radius: 100%;
  border: 3px solid #ff675b;

}
.two  {
    color:white;
    width:700px ;
    margin-top: 100px ;
    
}
.p1{ 
    color:red;
    font-size: 20px;
   
}
.p2{
    width:600px ;
    font-weight:bold ;
    font-size: 50px;
}


 .img2,
 .img3,
 .img4,
 .img5{
    display: inline;
    width:20px;
    height:20px ;
    border-radius: 100%;
  border:2px solid #ff675b; 
}
.p4{
    
    display: inline-block;
}
.img6{
    display: inline;
   position: absolute;
   bottom: 50px;
   right:50px;
   
    width:600px;
    height:350px;
}
